a:link { color: #FFFFE0; text-decoration: none; background-color: transparent }
a:visited { color: #FFFFE0; text-decoration: none; background-color: transparent }
a:hover { color: #c93; text-decoration: underline; background-color: transparent }
a:active { color: #900; text-decoration: underline; background-color: transparent }

body{
background:url(tlo.gif);
font-family: Verdana;
font-size: 11px;
color: #ffffff;
font-family: Verdana, arial, tahoma, sans-serif;
}


TD.bloktekst {
    background:url(tlo_tekst.png);

	 background-repeat: repeat-xy;

	 background-color: #000050
}

TD.menu
{
     background:url(menu_tlo.png);
	 width: 260px;
	 vertical-align: text-top;
}